TMDB-Bot/TMDB-Bot.json
[
    {
        "id": "57654cf405aba2ec",
        "type": "tab",
        "label": "Commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "835a201945839c5f",
        "type": "tab",
        "label": "Callback Handle",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08459386cc1ab914",
        "type": "telegram bot",
        "botname": "technikalMovie_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "748bdc4413ec8222",
        "type": "telegram command",
        "z": "57654cf405aba2ec",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "08459386cc1ab914",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "0d194fc4f91fc915",
                "b21f3d01af6cc640"
            ],
            []
        ]
    },
    {
        "id": "0d194fc4f91fc915",
        "type": "function",
        "z": "57654cf405aba2ec",
        "name": "greeating message",
        "func": "const chatId = msg.payload.chatId;\n\nmsg.payload = {\n  chatId: chatId,\n  type: 'message',\n  content: 'Привіт, допоможу тобі знайти цікавий фільм.\\nТи можеш добавляти фільми в улюбленні тицнувши на ❤️.\\nТакож можеш подивитися та редагувати каталог улюбленних фільмів натиснувши в тут або в меню на /showfavorites',\n  options: {\n   reply_markup: {\n    inline_keyboard: [\n      [{ text: \"Шукати фільм\", callback_data: \"search\"}]\n    ]\n   } \n  }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "e8139789f8968d21"
            ]
        ]
    },
    {
        "id": "e8139789f8968d21",
        "type": "telegram sender",
        "z": "57654cf405aba2ec",
        "name": "send greeating message",
        "bot": "08459386cc1ab914",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "2b31af09c352e3a5"
            ]
        ]
    },
    {
        "id": "acc351754410d215",
        "type": "telegram command",
        "z": "57654cf405aba2ec",
        "name": "",
        "command": "/showfavorites",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "08459386cc1ab914",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "b1d2f7e6fbc14571"
            ],
            []
        ]
    },
    {
        "id": "b1d2f7e6fbc14571",
        "type": "function",
        "z": "57654cf405aba2ec",
        "name": "prepareMessage",
        "func": "const chatId = global.get(`chatId`);\nconst favoriteMovies = global.get(`favoriteMovies`);\n\nif (favoriteMovies && favoriteMovies.length > 0) {\n    prepareMessage(true);\n} else {\n    prepareMessage(false);\n}\n\nreturn msg;\n\nfunction prepareMessage(bool) {\n    let content = \"\";\n    let options = {};\n    if (bool) {\n        content = \"Ваші улюбленні фільми:\";\n        let buttons = favoriteMovies.map((value) => [{ text: value.title, callback_data: value.title }]);\n        options = {\n            reply_markup: {\n                inline_keyboard: buttons,\n            },\n        };\n    } else {\n        content = \"Ви не додали жодного фільму до улюблених!\";\n    }\n\n    msg.payload = {\n        chatId: chatId,\n        type: \"message\",\n        content: content,\n        options: options,\n    };\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "867c7141a837611d"
            ]
        ]
    },
    {
        "id": "867c7141a837611d",
        "type": "telegram sender",
        "z": "57654cf405aba2ec",
        "name": "send favorites movie",
        "bot": "08459386cc1ab914",
        "haserroroutput": false,
        "outputs": 1,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "9868e57c8f143766"
            ]
        ]
    },
    {
        "id": "2b31af09c352e3a5",
        "type": "debug",
        "z": "57654cf405aba2ec",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "9868e57c8f143766",
        "type": "debug",
        "z": "57654cf405aba2ec",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "b21f3d01af6cc640",
        "type": "function",
        "z": "57654cf405aba2ec",
        "name": "set global properties",
        "func": "const chatId = msg.payload.chatId;\n\nconst favoriteMovies = [];\nconst favoriteTitles = [];\nconst movieMessageDict = {};\n\nglobal.set(`makeRequest`, false)\nglobal.set(`movieMessageDict`, movieMessageDict);\nglobal.set(`favoriteMovies`, favoriteMovies);\nglobal.set(`favoriteTitles`, favoriteTitles);\nglobal.set('chatId', chatId);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "8bb6fce212ea17c7",
        "type": "telegram command",
        "z": "57654cf405aba2ec",
        "name": "",
        "command": "/continuethesearch",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "08459386cc1ab914",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "53ce4a119dfc38fa"
            ],
            []
        ]
    },
    {
        "id": "53ce4a119dfc38fa",
        "type": "function",
        "z": "57654cf405aba2ec",
        "name": "handle makeRequest and SetupMovieIndex",
        "func": "const index = global.get(`movieIndex`);\nconst makeRequest = global.get(`makeRequest`);\n\nif (makeRequest) {\n    global.set(`movieIndex`, index + 1);\n} \n\nmsg.payload = {\n    makeRequest: makeRequest,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "27675a8c8bb823bb"
            ]
        ]
    },
    {
        "id": "bccc666b8a9c5757",
        "type": "telegram sender",
        "z": "57654cf405aba2ec",
        "name": "send movie",
        "bot": "08459386cc1ab914",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "e81cbe7b6952cf34",
                "f930045e9aab122a"
            ],
            [
                "0ec8b0155a93d5da"
            ]
        ]
    },
    {
        "id": "e81cbe7b6952cf34",
        "type": "debug",
        "z": "57654cf405aba2ec",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "27675a8c8bb823bb",
        "type": "function",
        "z": "57654cf405aba2ec",
        "name": "prepareMessage",
        "func": "const chatId = global.get(`chatId`);\n\nlet content = \"\";\nlet options = {};\n\nif (msg.payload.makeRequest) {\n    const movies = global.get(`movies`);\n    const movieIndex = global.get(`movieIndex`);\n    const movie = movies[movieIndex];\n    content = prepareText(movie)\n    options = {\n        reply_markup: {\n            inline_keyboard: [\n                [{ text: \"Наступний фільм\", callback_data: \"next\" }, { text: \"❤️\", callback_data: \"addToFavorite\" }]\n            ]\n        }\n    };\n} else {\n    content = \"Ви ще не почали пошук!\"\n    options = {\n        reply_markup: {\n            inline_keyboard: [\n                [{ text: \"Шукати фільм\", callback_data: \"search\" }]\n            ]\n        }\n    }\n}\n\nmsg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: content,\n    options: options,\n};\n\nreturn msg;\n\nfunction prepareText(movie) {\n    const roundedVoteAverage = movie.vote_average.toFixed(1);\n    return `${movie.title}\\n\\n${movie.overview}\\n\\nОцінка: ${roundedVoteAverage}`\n};\n\nfunction prepareImageUrl(movie) {\n    return `https://image.tmdb.org/t/p/w400` + movie.poster_path\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 480,
        "wires": [
            [
                "bccc666b8a9c5757"
            ]
        ]
    },
    {
        "id": "0ec8b0155a93d5da",
        "type": "debug",
        "z": "57654cf405aba2ec",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 580,
        "wires": []
    },
    {
        "id": "f930045e9aab122a",
        "type": "function",
        "z": "57654cf405aba2ec",
        "name": "saveMovieCache",
        "func": "\nconst messageId = msg.payload.sentMessageId;\nconst movies = global.get(`movies`);\nconst movieIndex = global.get(`movieIndex`);\nconst movie = movies[movieIndex];\nconst movieMessageDict = global.get(`movieMessageDict`);\n\nmovieMessageDict[messageId] = movie;\nglobal.set(`movieMessageDict`, movieMessageDict);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 480,
        "wires": []
    },
    {
        "id": "3fb7a617f9badd6d",
        "type": "telegram event",
        "z": "835a201945839c5f",
        "name": "MovieSearchButtons",
        "bot": "08459386cc1ab914",
        "event": "callback_query",
        "autoanswer": false,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "f29f1d365be17d84"
            ]
        ]
    },
    {
        "id": "34de3479db64fa8e",
        "type": "http request",
        "z": "835a201945839c5f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.themoviedb.org/3/movie/top_rated?language=uk-EU&api_key=c1a5165cc29b025e7b86d069d5f72c21",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "01faa2268ff1c6a2"
            ]
        ]
    },
    {
        "id": "01faa2268ff1c6a2",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "SetupResults",
        "func": "const movies = msg.payload.results;\nglobal.set(`movies`, movies);\nglobal.set(`movieIndex`, 0);\nglobal.set(`makeRequest`, true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "6fd6af9c97b2fd7b"
            ]
        ]
    },
    {
        "id": "31556a8b9a1511df",
        "type": "telegram sender",
        "z": "835a201945839c5f",
        "name": "send movie",
        "bot": "08459386cc1ab914",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1150,
        "y": 240,
        "wires": [
            [
                "d43e1dd95f90000e",
                "e73057ef4da32436"
            ],
            [
                "a6ebeee1f021d643"
            ]
        ]
    },
    {
        "id": "d43e1dd95f90000e",
        "type": "debug",
        "z": "835a201945839c5f",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 140,
        "wires": []
    },
    {
        "id": "f29f1d365be17d84",
        "type": "switch",
        "z": "835a201945839c5f",
        "name": "switchCallback",
        "property": "originalMessage.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "search",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "34de3479db64fa8e"
            ],
            [
                "a419610c7d9d6d6e"
            ]
        ]
    },
    {
        "id": "a419610c7d9d6d6e",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "SetupMovieIndex",
        "func": "const index = global.get(`movieIndex`);\nglobal.set(`movieIndex`, index + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "6fd6af9c97b2fd7b"
            ]
        ]
    },
    {
        "id": "6fd6af9c97b2fd7b",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "prepareMessage",
        "func": "const chatId = global.get(`chatId`);\nconst movies = global.get(`movies`);\nconst movieIndex = global.get(`movieIndex`);\nconst movie = movies[movieIndex];\n\nmsg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: prepareText(movie),\n    options: {\n        reply_markup: {\n            inline_keyboard: [\n                [{ text: \"Наступний фільм\", callback_data: \"next\" }, { text: \"❤️\", callback_data: \"addToFavorite\" }]\n            ]\n        }\n    }\n};\n\nreturn msg;\n\nfunction prepareText(movie) {\n    const roundedVoteAverage = movie.vote_average.toFixed(1);\n    return `${movie.title}\\n\\n${movie.overview}\\n\\nОцінка: ${roundedVoteAverage}`\n};\n\nfunction prepareImageUrl(movie) {\n    return `https://image.tmdb.org/t/p/w400` + movie.poster_path\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 240,
        "wires": [
            [
                "31556a8b9a1511df"
            ]
        ]
    },
    {
        "id": "0d20ad853a49e3e5",
        "type": "telegram event",
        "z": "835a201945839c5f",
        "name": "FavoriteButtons",
        "bot": "08459386cc1ab914",
        "event": "callback_query",
        "autoanswer": false,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "2fbbe11c3fea0c72"
            ]
        ]
    },
    {
        "id": "2fbbe11c3fea0c72",
        "type": "switch",
        "z": "835a201945839c5f",
        "name": "",
        "property": "originalMessage.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "addToFavorite",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "delete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "1d5bf1ba8a6e4ee5"
            ],
            [
                "ea1cf438fb47438e"
            ]
        ]
    },
    {
        "id": "1d5bf1ba8a6e4ee5",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "SetMovieToFavorites",
        "func": "const messageId = msg.originalMessage.message.message_id;\nconst movieMessageDict = global.get(`movieMessageDict`);\nconst movie = movieMessageDict[messageId];\nconst favoriteMovies = global.get(`favoriteMovies`);\nconst favoriteTitles = global.get(`favoriteTitles`);\n\nconst isMovieInFavorites = favoriteMovies.some(favoriteMovies => {\n    return favoriteMovies.title === movie.title; \n});\n\nif (!isMovieInFavorites) {\n    favoriteMovies.push(movie);\n    favoriteTitles.push(movie.title);\n    global.set(`favoriteTitles`, favoriteTitles);\n    global.set(`favoriteMovies`, favoriteMovies);\n    \n    msg.payload = {\n        isMovieInFavorites: false,\n        movie: movie,\n    }\n} else {\n    msg.payload = {\n        isMovieInFavorites: true,\n        movie: movie,\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "756f1e0ef07c43e7"
            ]
        ]
    },
    {
        "id": "756f1e0ef07c43e7",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "prepareMessage",
        "func": "const chatId = global.get(`chatId`);\n\nif (msg.payload.isMovieInFavorites === true) {\n  msg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: `${msg.payload.movie.title}\\nВже є у улюблених`,\n    options: {\n      reply_markup: {\n        inline_keyboard: [\n          [{ text: \"Наступний фільм\", callback_data: \"next\" }]\n        ]\n      }\n    }\n  };\n} else {\n  msg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: `${msg.payload.movie.title}\\nДодано до Улюблених`,\n    options: {\n      reply_markup: {\n        inline_keyboard: [\n          [{ text: \"Наступний фільм\", callback_data: \"next\" }]\n        ]\n      }\n    }\n  };\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 500,
        "wires": [
            [
                "a1eee2facbb35931"
            ]
        ]
    },
    {
        "id": "a1eee2facbb35931",
        "type": "telegram sender",
        "z": "835a201945839c5f",
        "name": "sendMessage",
        "bot": "08459386cc1ab914",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "3d3b8d4c891e74f1"
            ],
            [
                "5b2aed5ab80d53c4"
            ]
        ]
    },
    {
        "id": "3d3b8d4c891e74f1",
        "type": "debug",
        "z": "835a201945839c5f",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 460,
        "wires": []
    },
    {
        "id": "a6ebeee1f021d643",
        "type": "debug",
        "z": "835a201945839c5f",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 340,
        "wires": []
    },
    {
        "id": "5b2aed5ab80d53c4",
        "type": "debug",
        "z": "835a201945839c5f",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 580,
        "wires": []
    },
    {
        "id": "e73057ef4da32436",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "saveMovieCache",
        "func": "\nconst messageId = msg.payload.sentMessageId;\nconst movies = global.get(`movies`);\nconst movieIndex = global.get(`movieIndex`);\nconst movie = movies[movieIndex];\nconst movieMessageDict = global.get(`movieMessageDict`);\n\nmovieMessageDict[messageId] = movie;\nglobal.set(`movieMessageDict`, movieMessageDict);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb368f423ec00e97",
        "type": "telegram event",
        "z": "835a201945839c5f",
        "name": "open Movie with Favorite",
        "bot": "08459386cc1ab914",
        "event": "callback_query",
        "autoanswer": false,
        "x": 140,
        "y": 940,
        "wires": [
            [
                "89aa7b6627dcb6e5"
            ]
        ]
    },
    {
        "id": "89aa7b6627dcb6e5",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "handleMovie",
        "func": "const favoriteTitles = global.get(`favoriteTitles`);\nconst callbackTitle = msg.originalMessage.data;\nconst movieTitle = favoriteTitles.some(title => callbackTitle.includes(title));\nif (movieTitle) {\n    const favoriteMovies = global.get(`favoriteMovies`);\n    const selectedMovie = favoriteMovies.find(movie => movie.title === callbackTitle);\n    msg.payload = {\n        movie: selectedMovie,\n    }\n} else {\n    return null;\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            [
                "4b2a2698ec091aa6"
            ]
        ]
    },
    {
        "id": "4b2a2698ec091aa6",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "prepareMessage",
        "func": "const chatId = global.get(`chatId`);\nconst movie = msg.payload.movie;\n\nmsg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: prepareText(movie),\n    options: {\n        reply_markup: {\n            inline_keyboard: [\n                [{ text: \"❌ Видалити з улюблених\", callback_data: `delete` }]\n            ]\n        }\n    }\n};\n\nreturn msg;\n\nfunction prepareText(movie) {\n    const roundedVoteAverage = movie.vote_average.toFixed(1);\n    return `${movie.title}\\n\\n${movie.overview}\\n\\nОцінка: ${roundedVoteAverage}`\n};\n\nfunction prepareImageUrl(movie) {\n    return `https://image.tmdb.org/t/p/w400` + movie.poster_path\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 940,
        "wires": [
            [
                "885a27a5d92be69b"
            ]
        ]
    },
    {
        "id": "885a27a5d92be69b",
        "type": "telegram sender",
        "z": "835a201945839c5f",
        "name": "send movie",
        "bot": "08459386cc1ab914",
        "haserroroutput": false,
        "outputs": 1,
        "x": 800,
        "y": 940,
        "wires": [
            [
                "360a8b603e8cc9f9",
                "6a99cfc4cf850b54"
            ]
        ]
    },
    {
        "id": "360a8b603e8cc9f9",
        "type": "debug",
        "z": "835a201945839c5f",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 880,
        "wires": []
    },
    {
        "id": "6a99cfc4cf850b54",
        "type": "debug",
        "z": "835a201945839c5f",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ea1cf438fb47438e",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "handleMovie and Delete",
        "func": "const text = msg.originalMessage.message.text;\nconst movieTitle = text.split('\\n\\n')[0];\nconst favoriteMovies = global.get(`favoriteMovies`);\nconst favoriteTitles = global.get(`favoriteTitles`);\nconst selectedMovie = favoriteMovies.find(movie => movie.title === movieTitle);\n\nlet hasMovie = Boolean;\n\nif (selectedMovie) {\n    hasMovie = true;\n} else {\n    hasMovie = false;\n}\n\nconst editedfavoriteMovies = favoriteMovies.filter(movie => movie !== selectedMovie);\nconst editedfavoriteTitles = favoriteTitles.filter(title => title !== movieTitle);\n\nglobal.set(`favoriteMovies`, editedfavoriteMovies);\nglobal.set(`favoriteTitles`, editedfavoriteTitles);\n\nmsg.payload = {\n    title: movieTitle,\n    hasMovie: hasMovie,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 620,
        "wires": [
            [
                "04ecd817f18909ad"
            ]
        ]
    },
    {
        "id": "04ecd817f18909ad",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "prepare message",
        "func": "const chatId = global.get(`chatId`);\nconst title = msg.payload.title;\nlet content = \"\"\n\nif (msg.payload.hasMovie) {\n    content = `${title}\\nВидалено з улюблених!`;   \n} else {\n    content = `${title}\\nВи вже видалили цей фільм!!!`;\n}\n\nmsg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: content,\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "a1eee2facbb35931",
                "e2a64d6c194128db"
            ]
        ]
    },
    {
        "id": "e2a64d6c194128db",
        "type": "function",
        "z": "835a201945839c5f",
        "name": "handle empty favorite",
        "func": "const chatId = global.get(`chatId`);\nconst favoriteMovies = global.get(`favoriteMovies`);\n\nif (favoriteMovies === null || favoriteMovies.length === 0) {\n    msg.payload = {\n        chatId: chatId,\n        type: \"message\",\n        content: \"Список улюблених фільмів порожній😢\",\n    }\n} else {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "a1eee2facbb35931"
            ]
        ]
    }
]